@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #242424;
}
body, html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border-radius: 1.25rem; /* 20px */
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 1.25rem;
    width: 10px;
}